.triangle{
    height: 320px;
    position: relative;
    clip-path: polygon(50% 0, 30% 100% ,70% 100%);
}

.triangle div{
    height: 100px;
    width: 100%;
    background-color: red;
    margin: 0 auto;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 100px;
    font-size: 0.8rem;
    color: red;
    transition: all ease-in 0.5s;
}
.top{
    z-index: 1;
}
.triangle:hover div{
    color: white;
}
.triangle:hover .mid{
    background-color: blue;
    
    top: 110px;
}
.triangle:hover .bottom{
    background-color: green;
    top: 220px;
}