/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.image{
    display: inline-block;
    width: 300px;
    height: 70px;
    position: relative;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.image::after{
    display: inherit;
    position: absolute;
    width: 100%;
    min-width: 150px;
    top: 0px;
    left: 0px;
    padding: 10px 20px 10px 45px;
    background-color: antiquewhite;
    background-image: url(noimage.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    content: "" attr(alt) "Not Found" ;
    z-index: 1;

}