.layout1 article{
    width: 60%;
    float: left;
}
.layout1 aside{
    width: 35%; 
    float: right;
}
.layout1 footer{
    clear: both;
}

.layout2 header .logo{
    width: 20%;
    float: left;
}
.layout2 header nav{
    width: 70%;
    float: right;
}
.layout2 header::after{
    display: table;
    clear: both;
    content: "";
}

.layout2 article{
    width: 45%;
    float: left;
    margin-left: 20px;
}
.layout2 aside.sidenav{
    width: 25%;
    float: left;

}
.layout2 aside.sidebar{
    width: 25%;
    float: right;
}
.layout2 footer{
    clear: both;
}

.layout3  header .logo{
    width: 20%;
    float: right;
}
.layout3  header nav{
    width: 65%;
    float: left;
}
.layout3  header::after{
    display: table;
    clear: both;
    content: "";
}
.layout3 article{
    width: 31%;
    float: left;
    margin-left: 2%;
}
.layout3 .articles::after{
    display: table;
    content: "";
    clear: both;
}
.layout3 footer{
    clear: both;
}